.footer {
  padding: 5rem 0;
  background-color: #404040;
  color: #fff; }
  .footer__list {
    list-style: none; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #02a676; }
  .footer__info {
    display: flex; }
  .footer__icon {
    font-size: 1.2rem;
    margin-right: 1.2rem;
    color: #02a676; }

footer {
  background-color: #404040;
  color: #fff;
  padding: 2rem;
  border-top: 1px solid #000; }

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/intro.jpeg);
  background-size: cover;
  color: #fff; }
  .intro__welcome {
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;
    margin-left: 3rem; }
    .intro__welcome::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: -43px;
      width: 30px;
      height: 1px;
      background-color: #fff; }
  .intro__principal {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase; }
  .intro__paragraphy {
    font-weight: 300; }

@media (min-width: 768px) {
  .intro__text {
    width: 50%; } }

.navbar {
  background-color: #404040;
  background-size: cover;
  border-bottom: 1px solid #02a676; }
  .navbar-brand img {
    width: 50px;
    height: 50px; }

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff !important;
  margin-bottom: 0.5rem;
  padding-left: 0.4rem;
  transition: all 1s;
  width: 0px; }
  .navbar-nav .nav-link:hover {
    background-color: #02a676;
    width: 100%;
    transition: all 1s; }

@media (min-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding-left: 0.4rem;
    transition: all 0.7s;
    width: 100%; }
    .navbar-nav .nav-link:hover {
      background-color: transparent; } }

.about {
  padding: 7rem 0; }

.company {
  padding: 2rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/company.png);
  background-size: cover;
  color: #fff; }
  .company__box {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .company__title {
    font-weight: 100; }
    .company__title span {
      font-weight: 700; }

.consultation {
  padding: 4rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../img/consultation.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff; }
  .consultation__box {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .consultation__title {
    font-weight: 100; }
    .consultation__title span {
      font-weight: 700; }

.newsletter {
  padding: 7rem 0; }
  .newsletter__text {
    width: 70%;
    margin: auto; }
  .newsletter .input-group {
    width: 70%;
    margin: auto; }
    .newsletter .input-group input {
      padding: 1.6rem 0; }
    .newsletter .input-group input:placeholder-shown {
      padding-left: 1rem; }

.services {
  padding: 7rem 0; }
  .services__box {
    display: flex;
    padding: 0 1rem; }
  .services__icon {
    font-size: 2rem;
    margin-right: 0.7rem;
    color: #008c72; }
  .services__title {
    font-size: 1.5rem;
    font-weight: 100; }
  .services__paragraphy {
    font-size: 1rem;
    font-weight: 100; }

@media (min-width: 768px) {
  .services__title-box {
    width: 75%;
    margin: auto; } }

.team {
  padding: 7rem 0; }
  .team__name {
    font-weight: 100;
    margin-top: 1rem; }

.testimonials {
  padding: 7rem 0; }
  .testimonials__box {
    width: 100%; }
  .testimonials__icon {
    font-size: 2rem; }
  .testimonials__text {
    font-size: 1rem;
    font-weight: 100; }
  .testimonials__info {
    display: flex;
    margin-top: 1.4rem; }
  .testimonials__avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 2rem; }
  .testimonials__name h6 {
    font-size: 1.2rem;
    color: #02a676; }
  .testimonials__name span {
    font-size: 0.8rem; }

.btn-custom {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: #02a676;
  color: #fff !important;
  padding: 1rem 2rem; }

.title-principal {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  color: #404040; }

.paragraphy {
  font-size: 1rem;
  font-weight: 300;
  color: #969696; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #404040; }

img {
  max-width: 100%;
  margin: auto; }
