// My Colors
$color-black-dark: #000;
$color-black-light: rgb(150, 150, 150);
$color-green-dark: #008c72;
$color-green-light: #02a676;

// My Fonts
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Raleway", sans-serif;
