@import "../variables";

.title-principal {
  font-family: $font-secondary;
  font-size: 1.6rem;
  font-weight: 100;
  color: $color-black-dark;
}

.paragraphy {
  font-size: 0.9rem;
  font-weight: 300;
  color: $color-black-light;
}
