@import "../variables";
// Custom Navbar
.navbar {
  background-color: $color-black-dark;

  // Logo Marca
  &-brand img {
    width: 80px;
    height: 80px;
  }
}

// Custom links Mobile
.navbar-nav {
  .nav-link {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding-left: 0.4rem;
    transition: all 1s;
    width: 0px;

    // Efeito Hover
    &:hover {
      background-color: $color-green-light;
      width: 100%;
      transition: all 1s;
    }
  }
}

// Media Queries
@media (min-width: 768px) {
  .navbar {
    background-color: transparent;
  }

  .navbar-nav {
    .nav-link {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      padding-left: 0.4rem;
      transition: all 0.7s;
      width: 100%;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
