@import "../variables";

.services {
  padding: 7rem 0;

  &__box {
    display: flex;
    padding: 0 1rem;
  }

  &__icon {
    font-size: 2rem;
    margin-right: 0.7rem;
    color: $color-green-dark;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 100;
  }

  &__paragraphy {
    font-size: 1rem;
    font-weight: 100;
  }
}

@media (min-width: 768px) {
  .services {
    &__title-box {
      width: 75%;
      margin: auto;
    }
  }
}
